<ion-view view-title="Truck">
  <ion-content>
    <ul class="list">
      <li class="item item-divider">
        <label class="item-input item-select">
          <div class="input-label">
            Truck Number
          </div>
          <select id="truck-select"
                  ng-model="accountCtrl.selectedTruckId"
                  ng-change="accountCtrl.getTruck(accountCtrl.selectedTruckId)"
                  ng-disabled="accountCtrl.loggedIn">
            <option style="font-size: xx-large"
                    ng-repeat="truck in accountCtrl.trucks"
                    value="{{truck.id}}">{{truck.identifier}}</option>
          </select>
        </label>
      </li>
      <li class="item">
        <label class="item-input">
          <div class="input-label">
            Driver:
          </div>
          <div class="input-label">
            {{accountCtrl.truck.driverFirstName}} {{accountCtrl.truck.driverLastName}}
          </div>
        </label>
      </li>
      <li class="item">
        <button class="button button-large button-positive"
                ng-hide="accountCtrl.loggedIn" ng-click="accountCtrl.logIn()">
          Log In
        </button>
        <button class="button button-large button-positive"
                ng-show="accountCtrl.loggedIn" ng-click="accountCtrl.logOff()">
          Log Off
        </button>
      </li>
    </ul>
  </ion-content>
</ion-view>
