<ion-view view-title="Truck">
  <ion-content>
    <ul class="list">
      <li class="item item-divider">
        <label class="item-input item-select">
          <div class="input-label">
            Truck Number
          </div>
          <select large ng-model="accountCtrl.selectedTruckId"
                  ng-change="accountCtrl.getTruck(accountCtrl.selectedTruckId)"
                  ng-disabled="accountCtrl.loggedIn">
            <option ng-repeat="truck in accountCtrl.trucks" value="{{truck.id}}">{{truck.identifier}}</option>
          </select>
        </label>
      </li>
      <li class="item">
        <label class="item-input">
          <div class="input-label">
            Driver
          </div>
          {{accountCtrl.truck.driverFirstName}} {{accountCtrl.truck.driverLastName}}
        </label>
      </li>
      <li class="item">
        <button ion-button large ng-hide="accountCtrl.loggedIn" ng-click="accountCtrl.logIn()">
          Log In
        </button>
        <button ion-button large ng-show="accountCtrl.loggedIn" ng-click="accountCtrl.logOff()">
          Log Off
        </button>
      </li>
    </ul>
  </ion-content>
</ion-view>
